/*!
 =========================================================
 * TestJob - v1.0
 =========================================================

 * PSD: https://freebiesbug.com/psd-freebies/agency-psd-web-template/
 * Product Page: http://
 * Copyright 2017 Valentin Belyakov
 * Licensed under MIT


 =========================================================
 * CSS INDEX
 =========================================================

   01. Common / Override bootstrap
   02. Preloader
   03. Header
   04. Sections
   05. Main Slider
   06. Services
   07. Portfolio
   08. Team
   09. Testimonials
   10. Price Tables
   11. Contacts
   12. Footer
   13. Widgets
   14. Breadcrumbs
   15. Blog
   16. Pagination
   17. Comments
   18. Leave a Comment
   19. Helper


/* 01. Common / Override bootstrap
/* ========================================================================== */

body {
    font-family: 'Open Sans', sans-serif;
    color: #414a5a;
}

a {
    transition: all 0.3s ease 0s;
}

a:focus,
a:hover {
    text-decoration: none;
}

.row.row-space {
    margin-top: -60px;
}

.row.row-space > div {
    margin-top: 60px;
}

.font-family--main {
    font-family: 'Open Sans', sans-serif;
}

.font-family--second {
    font-family: 'Lobster', cursive;
}

.btn-primary {
    background-color: #44c0c2;
    border-color: #44c0c2;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #485460;
    border-color: #485460;
}

.btn {
    transition: all 0.3s ease 0s;
}

.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: none;
    transition: all 0.3s ease 0s;
}

.btn.btn-lg {
    font-size: 24px;
    padding: 15px 42px 14px 42px;
    border-radius: 3px;
}

.btn.btn-sm {
    font-size: 14px;
    padding: 3px 12px 4px 12px;
}

.form-control {
    font-size: 16px;
    line-height: 1.5;
    height: 45px;
    padding: 10px 19px 10px 19px;
    border-color: #ffffff;
}

.form-control:focus {
    border-color: #a88fd8;
    box-shadow: inset 0 1px 1px rgba(168, 143, 216, 0.07), 0 0 8px rgba(168, 143, 216, 0.6);
}

textarea.form-control {
    padding-top: 15px;
}

.form-group {
    margin-bottom: 31px;
}

.site__sidebar .form-control {
    font-size: 14px;
    line-height: 1.714285714;
    height: 43px;
    box-shadow: none;
    padding: 10px 16px 9px 16px;
    border-color: #e9e9e9;
    border-radius: 0;
}

.site__sidebar .form-control:focus {
    border-color: #a88fd8;
    box-shadow: inset 0 1px 1px rgba(168, 143, 216, 0.07), 0 0 8px rgba(168, 143, 216, 0.6);
}

@media (min-width: 1280px) {
    .container {
        width: 1200px;
    }
}

p.text-lg {
    font-size: 24px;
    line-height: 1.666666667;
    font-weight: 300;
}

blockquote {
    position: relative;
    border: none;
    padding: 30px 0 0 36px;
}

blockquote:before {
    content: '“';
    display: inline-block;
    font-family: Cambria, Georgia, serif;
    font-size: 48px;
    position: absolute;
    top: -4px;
    left: 6px;
}

p + blockquote {
    margin-top: 42px;
}

blockquote p {
    font-family: Cambria, Georgia, serif;
    font-style: italic;
    font-size: 18px;
    line-height: 1.333333333;
}

blockquote cite {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    text-align: right;
    display: block;
    margin-top: 18px;
}

/* 02. Preloader
/* ========================================================================== */

#loading {
    background: #ffffff none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}

#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    background-color: #f1f1f1;
    border-radius: 50%;
}

/* 03. Header
/* ========================================================================== */

.header {
    height: 100px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.header .navbar {
    margin-bottom: 0;
    border: none;
    z-index: 2;
}

.header .navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 43px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 37px;
    color: #44c0c2;
}

@media (max-width: 767px) {

    .navbar-collapse {
        border-radius: 0 0 3px 3px;
        background-color: #ffffff;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .header .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.header .navbar-nav > li > a {
    font-size: 15px;
    padding: 12px 15px 12px 15px;
    color: #484c55;
    transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
    .header .navbar-nav > li > a {
        padding: 39px 15px 41px 15px;
    }
}

@media (min-width: 1200px) {
    .header .navbar-nav > li > a {
        padding: 39px 27px 41px 27px;
    }
}

.header .navbar-nav > li > a:hover,
.header .navbar-nav > li > a:active {
    background-color: #f8f9fb;
}

.header .navbar-nav > li.active > a {
    background-color: #f8f9fb;
    color: #49cbcd;
}

.header .navbar-nav > li.active > a,
.header .navbar-nav > li.active > a:hover,
.header .navbar-nav > li.active > a:active {
    background-color: #f8f9fb;
    color: #49cbcd;
}

.header .navbar-nav > li.active > a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #49cbcd;
}

@media (min-width: 1280px) {
    .navbar-right {
        margin-right: -55px;
    }
}

/* Burger */

.navbar-toggle {
    margin-top: 32px;
    margin-bottom: 34px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
}

.navbar-toggle .icon-bar {
    background-color: #e9e9e9;
}

.navbar-toggle:active .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: #757b85;
}

/* Logo */

.logo {
    font-size: 43px;
}

/* 04. Sections
/* ========================================================================== */

.section {
    /* section default padding */
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}

.section > .container {
    position: relative;
    z-index: 1;
}

.section--light {
}

.section--gray {
    background-color: #f1f1f1;
}

.section--color {
    background-color: #49cbcd;
    color: #ffffff;
}

.section--dark {
    background-color: #181818;
    color: #ffffff;
}

.section--dark p {
    color: rgba(255, 255, 255, 0.5);
}

.section--image {
    background-attachment: fixed;
    background-size: cover !important;
    background-position: 50% 0 !important;
    background-repeat: no-repeat;
}

.section__title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 30px;
}

@media (min-width: 992px) {
    .section__title {
        font-size: 42px;
    }
}

.section__buttons {
    margin-top: 58px;
}

@media (min-width: 992px) {
    .section-services {
        padding-top: 104px;
        padding-bottom: 98px;
    }
}

@media (min-width: 992px) {
    .section-portfolio {
        padding-top: 44px;
        padding-bottom: 103px;
    }

    .section-portfolio .section__title {
        margin-bottom: 57px;
    }

    .section-team {
        padding-top: 86px;
        padding-bottom: 102px;
    }

    .section-team .section__title {
        margin-bottom: 60px;
    }
}

@media (max-width: 991px) {
    .section-team .section__title {
        margin-bottom: 50px;
    }
}

@media (min-width: 1200px) {
    .section-team .section__title {
        margin-bottom: 132px;
    }
}

@media (min-width: 992px) {
    .section-pricing {
        padding-top: 119px;
        padding-bottom: 101px;
    }

    .section-testimonials {
        padding-top: 140px;
        padding-bottom: 104px;
    }

    .section-testimonials .section__title {
        margin-bottom: 33px;
    }
}

.section-contacts {
    background-image: url('../img/sections/section-contacts.jpg');
}

.section-contacts .section__title {
    margin-bottom: 50px;
}

@media (min-width: 992px) {
    .section-contacts {
        padding-top: 98px;
        padding-bottom: 102px;
    }

    .section-contacts .section__title {
        margin-bottom: 111px;
    }
}

/* 05. Main Slider
/* ========================================================================== */

.section-slider {
    padding: 0;
    background-image: url('../img/sections/section-slider.jpg');
}

.main-slider {
    overflow: hidden;
}

@media (min-width: 768px) {
    .main-slider {
        max-height: 400px;
    }
}

@media (min-width: 1200px) {
    .main-slider {
        max-height: 500px;
    }
}

@media (min-width: 1280px) {
    .main-slider {
        max-height: 566px;
    }
}

.main-slider:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(73, 203, 205, 0.5);
}

.main-slider__item {
}

.main-slider__item > .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (min-width: 1024px) {
    .main-slider__item > .container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (min-width: 1280px) {
    .main-slider__item > .container {
        padding-top: 118px;
        padding-bottom: 147px;
    }
}

.main-slider__content {
}

.main-slider__title {
    font-size: 24px;
    font-weight: 600;
}

@media (min-width: 768px) {
    .main-slider__title {
        font-size: 30px;
    }
}

@media (min-width: 1024px) {
    .main-slider__title {
        font-size: 48px;
    }
}

@media (min-width: 1280px) {
    .main-slider__title {
        font-size: 63px;
        font-weight: 600;
    }
}

.main-slider__text {
    font-size: 14px;
    line-height: 1.608695652;
    font-weight: 400;
    margin-top: 15px;
    max-width: 403px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .main-slider__text {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .main-slider__text {
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    .main-slider__text {
        font-size: 23px;
    }
}

.main-slider__button {
    margin-top: 30px;
}

@media (min-width: 1280px) {
    .main-slider__button {
        margin-top: 53px;
    }
}

.main-slider__button .btn.btn-lg {
    font-size: 16px;
    padding: 14px 42px 15px 42px;
    border-width: 2px;
    /*border-radius: 8px;*/
}

@media (min-width: 1280px) {
    .main-slider__button .btn.btn-lg {
        font-size: 26px;
        padding: 14px 42px 15px 42px;
        border-width: 3px;
        border-radius: 8px;
    }
}

.main-slider__button .btn.btn-readmore {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

.main-slider__button .btn.btn-readmore:hover,
.main-slider__button .btn.btn-readmore:active {
    box-shadow: none;
    background: #ffffff;
    border-color: #ffffff;
    color: #485460;
}

.main-slider.owl-carousel .owl-nav .owl-prev,
.main-slider.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;

    height: 51px;
    width: 51px;
    border-radius: 50%;
    line-height: 49px;
    text-align: center;
    background-color: #ffffff;
    color: #49cbcd;
}

.main-slider.owl-carousel .owl-nav .owl-prev {
    left: 29px;
}

.main-slider.owl-carousel .owl-nav .owl-next {
    right: 29px;
}

@media (max-width: 767px) {
    .main-slider.owl-carousel .owl-nav {
        display: none;
    }
}

/* 06. Services
/* ========================================================================== */

.services {
    margin-top: -90px;
}

.services .service {
    margin-top: 90px;
}

@media (max-width: 767px) {
    .services .service {
        margin-left: auto;
        margin-right: auto;
        max-width: 345px;
    }
}

.service__icon {
    font-size: 40px;
    text-align: center;
    width: 105px;
    height: 105px;
    line-height: 99px;
    border-radius: 50%;
    border: solid 3px #44c0c2;
    color: #44c0c2;
}

.service.text-center .service__icon {
    margin-left: auto;
    margin-right: auto;
}

.service__title {
    font-size: 22px;
    margin-top: 44px;
    color: #484c55;
}

.service__description {
    font-size: 14px;
    line-height: 26px;
    margin-top: 19px;
}

.service__readmore {
    margin-top: 15px;
}

/* 07. Portfolio
/* ========================================================================== */

.portfolio {
    margin-top: -30px;
}

.portfolio__item {
    position: relative;
    margin-top: 30px;
}

@media (max-width: 767px) {
    .portfolio__item {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    }
}

.portfolio__image img {
    border-radius: 3px;
}

.portfolio__image {
    position: relative;
}

.portfolio__image:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    transition: all 0.3s ease 0s;
}

.portfolio__links {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.portfolio__view,
.portfolio__link {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease 0s;

    border-radius: 50%;
    background-color: #ffffff;
    color: #4e525d;
}

.portfolio__view:hover,
.portfolio__view:active,
.portfolio__link:hover,
.portfolio__link:active {
    background-color: #44c0c2;
    color: #ffffff;
}

.portfolio__view {
    right: 55%;
}

.portfolio__link {
    left: 55%;
}

.portfolio__title {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    z-index: 1;
}

.portfolio__title a {
    transition: all 0.3s ease 0s;
    color: rgba(255, 255, 255, 0.8);
}

.portfolio__title a:hover,
.portfolio__title a:active {
    color: #ffffff;
}

.portfolio__item:hover .portfolio__title {
    bottom: 0;
    opacity: 1;
}

.portfolio__item:hover .portfolio__image:before {
    background-color: rgba(0, 0, 0, .5);
}

.portfolio__item:hover .portfolio__view,
.portfolio__item:hover .portfolio__link {
    opacity: 1;
}

.portfolio__item:hover .portfolio__view {
    right: 51%;
}

.portfolio__item:hover .portfolio__link {
    left: 51%;
}

/* 08. Team
/* ========================================================================== */

.team {
    margin-top: -30px;
}

.team .member {
    margin-top: 30px;
}

@media (max-width: 991px) {
    .team {
        margin-top: -90px;
    }

    .team .member {
        margin-top: 90px;
        margin-left: auto;
        margin-right: auto;
        max-width: 345px;
    }
}

.member {
    text-align: center;
}

.member__image {
    max-width: 201px;
    margin-left: auto;
    margin-right: auto;
}

.member__link {
    position: relative;
    display: block;
    transition: all 0.3s ease 0s;
}

.member__link:before {
    content: '+';
    font-size: 85px;
    font-weight: 800;
    color: #f46d6d;
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.member__link:hover:before,
.member__link:active:before {
    top: 50%;
    opacity: 1;
}

.member__image img {
    border-radius: 50%;
}

.member__title {
    font-size: 22px;
    margin-top: 67px;
    margin-bottom: 0;
}

@media (max-width: 1199px) {
    .member__title {
        margin-top: 30px;
    }
}

.member__title a {
    transition: all 0.3s ease 0s;
    color: #4e525d;
}

.member__title a:hover,
.member__title a:active {
    color: #49CBCD;
}

.member__position {
    display: block;
    margin-top: 6px;
}

.member__description {
    font-size: 14px;
    line-height: 26px;
    margin-top: 23px;
    margin-bottom: 0;
}

/* 09. Testimonials
/* ========================================================================== */

.testimonial {
}

.testimonial__text {
    font-weight: 300;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .testimonial__text {
        padding: 0 50px;
    }
}

@media (min-width: 1200px) {
    .testimonial__text {
        font-size: 16px;
        line-height: 1.875;
    }
}

@media (min-width: 1200px) {
    .testimonial__text {
        font-size: 19px;
        line-height: 1.578947368;
    }
}

.testimonial__name {
    font-size: 21px;
    font-weight: 300;
    margin-top: 29px;
    color: #9a8faf;
}

.testimonial-carousel.owl-carousel .owl-nav .owl-prev,
.testimonial-carousel.owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: -2px;

    height: 51px;
    width: 51px;
    line-height: 49px;
    text-align: center;

    border-radius: 50%;
}

.testimonial-carousel.owl-carousel .owl-nav .owl-prev {
    left: 0;
}

.testimonial-carousel.owl-carousel .owl-nav .owl-next {
    right: 0;
}

@media (max-width: 767px) {
    .testimonial-carousel.owl-carousel .owl-nav {
        display: none;
    }
}

/* 10. Price Tables
/* ========================================================================== */

.price-tables {
    margin-top: -30px;
}

.price-tables .price-table {
    margin-top: 30px;
}

.price-table__header {
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    background-color: #485460;
    color: #ffffff;
}

.price-table__header h3 {
    font-size: 26px;
    margin-top: 22px;
    margin-bottom: 25px;
    padding: 0 15px;
}

.price-table__value {
    font-size: 20px;
    padding: 22px 15px 18px 15px;
    background-color: #f8f9fb;
    color: #485460;
}

.price-table__row {
    padding: 13px 15px 12px 15px;
    border-top: solid 1px #ecf0f1;
    background-color: #ffffff;
    color: #8c9299;
}

.price-table__footer {
    padding: 29px 15px;
    border-radius: 0 0 3px 3px;
    border-top: solid 1px #ecf0f1;
    background-color: #f8f9fb;
}

.price-table__footer .btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding: 6px 15px 8px 15px;
    min-width: 170px;
    background-color: #788492;
    border-color: #788492;
}

.price-table__footer .btn:hover {
    background-color: #44c0c2;
    border-color: #44c0c2;
}

.price-table--featured .price-table__header {
    background-color: #44c0c2;
}

.price-table--featured .price-table__footer .btn {
    background-color: #49cbcd;
    border-color: #49cbcd;
}

.price-table--featured .price-table__footer .btn:hover {
    background-color: #485460;
    border-color: #485460;
}

/* 11. Contacts
/* ========================================================================== */

.section-contacts textarea.form-control {
    max-height: 179px;
}

address {
    line-height: 1.714285714;
}

.section--dark address {
    color: #bface2;
}

.contact-form {
}

.contact-form .btn.btn-lg {
    font-size: 22px;
    padding-top: 7px;
    padding-bottom: 12px;
    min-width: 170px;
}

.social-icons {
    font-size: 0;
    display: inline-block;
    list-style: none;
    margin: 0 0 0 -15px;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-left: 15px;
}

.social-icons li a {
    display: block;
    width: 42px;
    height: 42px;
    font-size: 23px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    background-color: #485460;
    color: #ffffff;
}

.social-icons li a.facebook {
    background-color: #3b5997;
}

.social-icons li a.twitter {
    background-color: #3ec2f3;
}

.social-icons li a.google-plus {
    background-color: #e44c41;
}

.social-icons li a:active,
.social-icons li a:hover {
    background-color: #49cbcd;
}

/* 12. Footer
/* ========================================================================== */

.footer {
    padding: 45px 0;
    border-top: solid 1px #e9e9e9;
}

.copyright {
    color: #7c7c7c;
}

.social-icons + .copyright {
    margin-top: 26px;
}

/* 13. Widgets
/* ========================================================================== */

.widget {
}

.widget > *:last-child {
    margin-bottom: 0;
}

.widget__title {
    margin-top: 0;
}

.site__sidebar .widget + .widget {
    margin-top: 47px;
}

.site__sidebar .widget__title {
    font-size: 26px;
    margin-bottom: 27px;
}

.site__content .widget__title {
    font-size: 23px;
    margin-bottom: 27px;
}

.site__content .widget a {
    color: #414a5a;
}

.site__content .widget a:hover,
.site__content .widget a:active {
    color: #49cbcd;
}

.widget-contacts {
}

.widget-contacts .widget__title {
    margin-bottom: 8px;
}

.widget-contacts .social-icons {
    margin-top: 28px;
    margin-left: -21px;
}

.widget-contacts address {
    margin-top: 15px;
    padding-left: 4px;
}

/* Widget: Search */

.site__sidebar .widget-search:first-child {
    margin-top: 19px;
}

.site__sidebar a {
    transition: all 0.3s ease 0s;
    color: #414a5a;
}

.site__sidebar a:active,
.site__sidebar a:hover {
    color: #49CBCD;
}

.widget-search {
}

.widget-search form {
    position: relative;
}

.widget-search input[type=text] {
    padding-right: 40px;
}

.widget-search button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    text-align: center;
    border: none;
    background-color: transparent;
    border-radius: 0;
    height: 43px;
    width: 43px;
    color: #bababa;
}

.widget-search button[type=submit]:focus,
.widget-search button[type=submit]:hover {
    color: #485460;
}

.widget-search button[type=submit] .fa {
    margin-left: -5px;
}

/* Widget: Follow Us */

.widget-socials {
}

/* pixel perfect */

@media (min-width: 1280px) {
    .site__sidebar .widget + .widget-socials {
        margin-top: 57px;
    }

    .section-blog--single .site__sidebar {
        margin-top: -51px;
    }
}

/* Widget: Subscribe */

.widget-subscribe {
}

.widget-subscribe form {
}

.widget-subscribe button[type=submit] {
    font-size: 16px;
    padding: 8px 47px;
    margin-top: -1px;
}

/* Widget: Categories */

.widget-categories ul {
    font-size: 0;
    list-style: none;
    padding-left: 0;
    margin-top: -12px;
}

.widget-categories ul li {
    font-size: 13px;
}

.widget-categories ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 9px 10px 9px 25px;
    border-radius: 3px;
    color: #414a5a;
}

.widget-categories ul li.active a,
.widget-categories ul li a:active,
.widget-categories ul li a:hover {
    padding: 9px 10px 9px 38px;
    background-color: #485460;
    color: #ffffff;
}

.widget-categories ul li a:before {
    font-family: 'FontAwesome';
    content: '\f105';
    display: inline-block;
    margin-right: 18px;
    position: absolute;
    top: 10px;
    left: 2px;
    color: #49cbcd;
    transition: all 0.3s ease 0s;
}

.widget-categories ul li.active a:before,
.widget-categories ul li a:active:before,
.widget-categories ul li a:hover:before {
    left: 16px;
    color: #ffffff;
}

/* Widget: Popular Post */

.widget-popular .item-excerpt {
    font-size: 13px;
    line-height: 1.692307692;
    margin-top: 31px;
}

.widget-popular .item-meta {
    margin-top: 27px;
}

.widget-popular .item-date {
}

.widget-popular .item-readmore {
    color: #a88fd8;
    float: right;
}

.widget-popular .item-readmore .fa {
    margin-left: 1px;
}

/* pixel perfect */

@media (min-width: 1280px) {
    .site__sidebar .widget + .widget-popular {
        margin-top: 43px;
    }
}

/* Widget: Recent Post */

.widget-recent {
}

.section-blog--single .site__content .widget-recent {
    margin-top: 51px;
}

/* pixel perfect */

@media (min-width: 1280px) {
    .site__sidebar .widget + .widget-recent {
        margin-top: 51px;
    }

    .section-blog--single .site__sidebar .widget + .widget-recent {
        margin-top: 42px;
    }
}

.widget-recent ul {
    font-size: 0;
    list-style: none;
    padding-left: 0;
    margin-top: -13px;
}

.widget-recent ul li {
    font-size: 14px;
}

.widget-recent ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 8px 10px 8px 25px;
    border-radius: 3px;
}

.widget-recent ul li a:hover {
}

.widget-recent ul li a:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 15px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #49cbcd;
}

/* Widget: Tags */

.widget-tags ul {
    font-size: 0;
    padding: 0;
    margin-left: -11px;
    margin-top: -6px;
}

.widget-tags ul li {
    font-size: 14px;
    margin-top: 9px;
    margin-left: 11px;
    display: inline-block;
}

.widget-tags ul li a {
    display: block;
    text-decoration: none;
    padding: 7px 18px 6px 18px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    background-color: #f8f9fb;
}

.widget-tags ul li.active a,
.widget-tags ul li a:active,
.widget-tags ul li a:hover {
    background-color: #49cbcd;
    color: #ffffff;
}

/* pixel perfect */

@media (min-width: 1280px) {
    .site__sidebar .widget + .widget-tags {
        margin-top: 42px;
    }

    .section-blog--single .site__sidebar .widget + .widget-tags {
        margin-top: 51px;
    }
}

/* 14. Breadcrumbs
/* ========================================================================== */

.section-breadcrumbs {
    background-image: url('../img/sections/section-breadcrumbs.jpg');
    background-position-y: 150% !important;
    padding-top: 20px;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .section-breadcrumbs {
        padding-top: 40px;
        padding-bottom: 30px;
    }
}

.section-breadcrumbs .section__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .section-breadcrumbs .section__title {
        font-size: 30px;
    }
}

@media (min-width: 1280px) {
    .section-breadcrumbs .section__title {
        font-size: 42px;
    }
}

.section-breadcrumbs:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(73, 203, 205, 0.5);
}

/* pixel perfect */

@media (min-width: 1280px) {
    .section-breadcrumbs {
        padding-top: 65px;
        padding-bottom: 53px;
    }

    .section-breadcrumbs--single {
        padding-top: 63px;
        padding-bottom: 55px;
    }
}

/* 15. Blog
/* ========================================================================== */

.section-blog {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width: 992px) {
    .section-blog {
        padding-top: 75px;
        padding-bottom: 77px;
    }
}

/* pixel perfect */

@media (min-width: 992px) {
    .section-blog--single {
        padding-top: 97px;
        padding-bottom: 92px;
    }
}

/* Post */

.post {
}

.post + .post {
    margin-top: 40px;
}

@media (min-width: 990px) {
    .post + .post {
        margin-top: 78px;
    }
}

.post__title {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 21px;
}

.post__title a {
    color: #414a5a;
}

.post__title a:hover,
.post__title a:active {
    color: #44c0c2;
}

/* pixel perfect */

.section-blog--single .post__title {
    margin-top: 1px;
    margin-bottom: 14px;
}

.post__media {
    margin-bottom: 7px;
}

.post__media img {
    border-radius: 3px;
}

.post__content img {
    border-radius: 3px;
}

.post__content img.pull-left {
    width: 36.9%;
    margin-right: 27px;
    margin-bottom: 6px;
}

.post__content {
    font-size: 13px;
    line-height: 1.846153846;
}

.post__content p {
    margin-bottom: 24px;
}

.post__content p.text-lg {
    margin-top: 29px;
    margin-bottom: 18px;
}

.post__content p img {
    margin-top: 4px;
}

.post__content p img.img-wide {
    margin-top: 31px;
    margin-bottom: 39px;
}

.post__excerpt {
    font-size: 13px;
    line-height: 1.846153846;
    margin-top: -4px;
    color: #414a5a;
}

.post__excerpt p {
    margin-bottom: 24px;
}

.post__readmore {
    margin-top: -20px;
}

.post__readmore a {
    font-size: 14px;
    color: #a88fd8;
    transition: all 0.3s ease 0s;
}

.post__readmore a:focus,
.post__readmore a:hover {
    color: #49CBCD;
}

.post__readmore a .fa {
    margin-left: 1px;
}

.post__date + .row {
    overflow: hidden;
}

.post__date {
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 7px;
    padding: 6px 10px 6px 10px;
    border-radius: 3px;
    background-color: #49CBCD;
    color: #ffffff;
}

@media (min-width: 992px) {
    .post__date {
        float: left;
        width: 71px;
        padding: 20px 10px 14px 10px;
    }
}

.post__day {
    font-weight: 600;
}

.post__month {
}

.post__year {
}

@media (min-width: 992px) {

    .post__date > span {
        display: block;
    }

    .post__day {
        font-size: 30px;
        line-height: 0.666666667;
    }

    .post__month {
        font-size: 17px;
        line-height: 1.176470588;
        margin-top: 9px;
    }

    .post__year {
        font-size: 14px;
        line-height: 1.428571429;
        margin-top: 1px;
    }
}

.post__meta {
    overflow: hidden;
    margin-top: 19px;
    border-top: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
    color: #757b85;
}

.section-blog--single .post__meta {
    margin-bottom: 30px;
}

@media (min-width: 992px) {
    .post__meta {
        margin-left: 102px;
    }

    .section-blog--single .post__meta {
        margin-left: 0px;
        margin-bottom: 29px;
        margin-top: 0px;
    }
}

.post__meta > ul {
    font-size: 0;
    padding: 0;
    list-style: none;
    margin-left: -15px;
    margin-bottom: 11px;
    padding-top: 6px;
}

.post__meta > ul > li {
    font-size: 14px;
    display: inline-block;
    margin-top: 6px;
    margin-left: 15px;
}

.post-meta__author a {
    color: #a88fd8;
    transition: all 0.3s ease 0s;
}

.post-meta__author a:focus,
.post-meta__author a:hover {
    color: #49CBCD;
}

.post-meta__comments {
}

.post-meta__comments a {
    color: #a88fd8;
    transition: all 0.3s ease 0s;
}

.post-meta__comments a:focus,
.post-meta__comments a:hover {
    color: #49CBCD;
}

.post-meta__tags a {
    color: #757b85;
    transition: all 0.3s ease 0s;
}

.post-meta__tags a:focus,
.post-meta__tags a:hover {
    color: #49CBCD;
}

.post__meta li.post-meta__tags {

}

.post__meta li.post-meta__share {
}

@media (min-width: 1200px) {
    .post__meta li.post-meta__share {
        float: right;
    }
}

.post__meta li.post-meta__share .social-icons {
    margin-top: -1px;
    margin-bottom: 0;
}

.post__meta li.post-meta__share .social-icons li.title {
    font-size: 14px;
    line-height: 1.428571429;
    color: #757b85;
}

.post__meta li.post-meta__share .social-icons li {
    display: inline-block;
}

.post__meta li.post-meta__share .social-icons li a {
    width: auto;
    height: auto;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 50%;
    background-color: transparent;
    color: #dde0e5;
    transition: all 0.3s ease 0s;
}

.post__meta li.post-meta__share .social-icons li a .fa {
    color: #dde0e5;
    transition: all 0.3s ease 0s;
}

.post__meta li.post-meta__share .social-icons li a:hover .fa,
.post__meta li.post-meta__share .social-icons li a:active .fa {
    color: #49CBCD;
}

/* post share */

.post__share {
    text-align: center;
    border: solid 1px #ebebeb;
    padding: 45px 15px 34px 15px;
    margin-top: 108px;
    margin-bottom: 40px;
    position: relative;
}

.post__share:before,
.post__share:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #f8f8f8;
    position: absolute;
}

.post__share:before {
    top: 0;
    left: 0;
}

.post__share:after {
    bottom: 0;
    left: 0;
}

.post__share h4 {
    display: block;
    font-size: 23px;
    line-height: 1.043478261;
    padding: 0 12px;
    position: relative;
    margin-left: 24px;
    margin-top: -60px;
    margin-bottom: 36px;
}

.post__share h4 span {
    background-color: #ffffff; /* body color */
}

/* pixel perfect */

@media (min-width: 1280px) {

    .post {
        margin-right: 39px;
    }

    .section-blog--single .post {
        margin-right: 24px;
    }

    .post > .row > .col-md-4 {
        width: 40.2%;
    }

    .post > .row > .col-md-8 {
        width: 59.8%;
        padding-left: 11px;
    }

    .post-2 .post__excerpt {
        margin-top: -7px;
    }

    .post-2 .post__readmore {
        margin-top: -17px;
    }

    .post.post-3 {
        margin-top: 76px;
    }

    .post.post-4 {
        margin-top: 88px;
    }

    .post__meta {
        padding-left: 2px;
    }

    .post__meta > ul {
        margin-right: 11px;
    }

    .post__meta li {
        letter-spacing: 0.037em;
        margin-left: 33px;
    }

    .post__meta li.post-meta__tags {
        margin-top: 6px;
        margin-left: 38px;
    }

    .post__meta li.post-meta__share {
        margin-top: 0;
    }

    .post__meta li.post-meta__share .social-icons {
        margin-top: -1px;
        margin-bottom: 0;
    }

    .post__meta li.post-meta__share .social-icons li {
        margin-top: 0;
        margin-left: 14px;
        vertical-align: middle;
    }

    .post__meta li.post-meta__share .social-icons li.title {
        font-size: 14px;
        line-height: 1.714285714;
        margin: 1px 5px 0 0;
    }

    .post__meta li.post-meta__share .social-icons li a {
        font-size: 24px;
        line-height: 0.875;
    }

    .post__meta li.post-meta__share .social-icons li a .fa {

    }

}

/* 16. Pagination
/* ========================================================================== */

.pagination {
    font-size: 0;
    margin-top: 40px;
    margin-bottom: 0;

    width: 100%;
    overflow: hidden;
}

@media (min-width: 992px) {
    .pagination {
        margin-top: 67px;
        padding-left: 92px;
    }
}

@media (min-width: 1280px) {
    .pagination {
        padding-right: 37px;
    }
}

.pagination > li {
    float: none;
    display: inline-block;
    font-size: 14px;
}

@media (min-width: 992px) {
    .pagination > li {
        float: none;
        display: inline-block;
        font-size: 23px;
    }
}

@media (min-width: 380px) {
    .pagination > li.prev {
        float: left;
    }

    .pagination > li.next {
        float: right;
    }
}

.pagination > li > a,
.pagination > li > span {
    min-height: 24px;
    min-width: 24px;
    line-height: 24px;
    padding: 0;
    border: none;
    border-radius: 50%;
    margin: 3px;
    transition: all 0.3s ease 0s;
    background-color: #f6fafb;
    color: #bababa;

    position: relative;
}

@media (min-width: 992px) {
    .pagination > li > a,
    .pagination > li > span {
        min-height: 49px;
        min-width: 49px;
        line-height: 49px;
        margin: 6px;
    }
}

.pagination > li > a svg,
.pagination > li > span svg {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 60%;
    height: 60%;
    color: #bababa;
}

.pagination > li.next > a svg,
.pagination > li.next > span svg {
    left: 6px;
}

@media (min-width: 992px) {
    .pagination > li > a svg,
    .pagination > li > span svg {
        top: 12px;
        left: 10px;
    }

    .pagination > li.next > a svg,
    .pagination > li.next > span svg {
        left: 12px;
    }
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background-color: #485460;
    color: #ffffff;
}

.pagination > li > a:focus path,
.pagination > li > a:hover path,
.pagination > li > span:focus path,
.pagination > li > span:hover path {
    fill: #ffffff;
}

.pagination > li > span,
.pagination > li > span:focus,
.pagination > li > span:hover {
    background-color: transparent;
    color: #485460;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 50%;
}

.pagination-prev-next {
    padding: 0;
    overflow: hidden;
    list-style: none;
    margin-top: 55px;
}

.pagination-prev-next > li > a {
    position: relative;
    display: inline-block;
}

.pagination-prev-next .prev {
    float: left;
}

.pagination-prev-next .next {
    float: right;
}

.pagination-prev-next .label-icon {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    min-height: 49px;
    min-width: 49px;
    line-height: 49px;
    transition: all 0.3s ease 0s;
    background-color: #f6fafb;
    color: #bababa;
    position: relative;
}

.pagination-prev-next > li > a:focus .label-icon,
.pagination-prev-next > li > a:hover .label-icon {
    background-color: #485460;
    color: #ffffff;
}

.pagination-prev-next > li > a:focus path,
.pagination-prev-next > li > a:hover path {
    fill: #ffffff;
}

.pagination-prev-next > li > a svg {
    position: absolute;
    top: 14px;
}

.pagination-prev-next > li.prev > a svg {
    left: 17px;
}

.pagination-prev-next > li.next > a svg {
    right: 17px;
}

.pagination-prev-next > li.prev > a .label-icon {
    margin-right: 13px;
}

.pagination-prev-next > li.next > a .label-icon {
    margin-left: 10px;
}

.pagination-prev-next .label-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 4px;
    color: #414a5a;
}

@media (max-width: 479px) {
    .pagination-prev-next .label-text {
        display: none;
    }
}

.pagination-prev-next > li > a:hover .label-text,
.pagination-prev-next > li > a:hover .label-text {
    color: #49cbcd;
}

/* pixel perfect */

@media (min-width: 1280px) {
    .pagination-prev-next {
        margin-left: -7px;
    }

}

/* 17. Comments
/* ========================================================================== */

.comments {
}

.comments__title {
    font-size: 23px;
    margin-top: 38px;
    margin-bottom: 40px;
}

.comment {
    color: #414a5a;
    margin-top: 27px;
    padding-top: 35px;
    border-top: solid 1px #e9e9e9;
}

.comment .comment {
    margin-top: 37px;
    padding-top: 50px;
}

.comments__title + .comment {
    border: none;
    margin-top: 0;
    padding-top: 0;
}

.comment__meta {
    margin-top: 9px;
    font-weight: 600;
}

.comment__meta a {
    color: #414a5a;
}

.comment__meta a:hover,
.comment__meta a:active {
    color: #49cbcd;
}

.comment__author {
    margin-right: 5px;
    position: relative;
}

.comment__date {
    margin-right: 15px;
}

.comment__reply {
    font-weight: 400;
}

.comment__reply a {
    color: #a88fd8
}

.media > .pull-left.comment__avatar {
    padding-right: 0;
    margin-right: 27px;
    position: relative;
    max-width: 93px;
}

@media (max-width: 767px) {
    .media > .pull-left.comment__avatar {
        margin-right: 15px;
        max-width: 50px;
    }

    .media > .pull-left.comment__avatar img {
        max-width: 50px;
    }
}

.comment__avatar:before {
    content: '+';
    font-size: 61px;
    font-weight: 800;
    color: #ffffff;
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 0;
    z-index: 2;
    transition: all 0.3s ease 0s;
}

.comment__avatar:hover:before,
.comment__avatar:active:before {
    top: 50%;
    opacity: 1;
}

.comment__avatar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease 0s;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
}

.comment__avatar:hover:after,
.comment__avatar:active:after {
    opacity: 1;
}

comment__avatar img {
    border-radius: 50%;
}

.comment__text {
    margin-top: 12px;
    line-height: 1.7142857142;
}

/* 18. Leave a Comment
/* ========================================================================== */

.comments-form {
    margin-top: 59px;
}

.comments-form__title {
    font-size: 23px;
    margin-bottom: 18px;
}

.comments-form .form-group {
    margin-bottom: 24px;
}

.comments-form .form-control {
    height: 47px;
    padding: 15px;
    font-size: 14px;
    box-shadow: none;
    border: solid 1px #ebebeb;
    color: #414a5a;
}

.comments-form .form-control:focus {
    border-color: #a88fd8;
    box-shadow: inset 0 1px 1px rgba(168, 143, 216, 0.07), 0 0 8px rgba(168, 143, 216, 0.6);
}

.comments-form textarea.form-control {
    height: 216px;
    padding-top: 19px;
    padding-left: 20px;
}

.comments-form .btn.btn-lg {
    font-size: 16px;
    padding: 12px 64px 11px 67px;
}

@media (min-width: 1024px) {
    .comments-form .btn.btn-lg {
        float: right;
    }
}

@media (max-width: 991px) {
    .comments-form .btn.btn-lg {
        margin-top: 30px;
    }
}

.comments-form__submit {
    margin-top: 33px;
}

.comments-form__submit .checkbox {
    margin-top: 11px;
}

/* Helper
/* ========================================================================== */

.transition {
    transition: all 0.3s ease 0s;
}

.div-space-md {
    height: 26px;
}